<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <title>titulo</title>
</head>
<body>
    <div class="subtitle">Leitor Pulseira</div>
    <div class="container">
        <div class="imagem"><object id="svg" type"image/svg+xml" data="{{aluno}}">Seu navegador não suporta imagem svg</object></div>
        <div class="tag">TAG:{{cartao}}</div>
        <div class="aluno">Aluno: {{nome}}</div>
        <div class="temperatura">Temperatura: {{temperatura}} <sup>o</sup>C</div>
    </div>
    <script>
        setTimeout(function(){
            window.location.href = '{{redirect_url}}';
        }, 4000);
    </script>
</body>
</html>